/* General styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

header .logo {
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 24px;
    margin: 10px 0;
}

/* Navigation */
nav {
    background-color: #0073e6;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Main */
main {
    text-align: center;
    padding: 20px;
}

main button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main button:hover {
    background-color: #003d80;
}

/* General styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Navigation */
nav {
    background-color: #0073e6;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Main */
main {
    text-align: center;
    padding: 20px;
}

main button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main button:hover {
    background-color: #003d80;
}

/* Footer */
footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}